#menu{
	display: none;
	position: fixed;
	
}
ul{	
	border: 1px solid black;
width: 60px;
position:fixed;
}

li{
	list-style: none;
}
li a{
 	display: block;
	
	text-decoration: none;
	padding: 0.5px 5px;
	
}
li a:hover{
	background-color: green ;
}